body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-image: url('bandeau-header-paulune-des-etoiles-cropped-800x300.jpg');
    background-size: cover;
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat;
    height: 400px; /* S'assurer que la page prend toute la hauteur */
    width: 100%; /* S'assurer que la page prend toute la largeur */
    position: relative; /* Pour positionner le crédit en absolu */
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Arrière-plan noir avec opacité */
    z-index: 1;
}

h1 {
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 120px;
    position: relative;
    z-index: 2; /* Au-dessus de l'overlay noir */
}

nav {
    color: white;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
}

.bandeau-credit {
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    margin: 0;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    z-index: 2; /* Au-dessus de l'overlay noir */
}