@font-face {
    font-family: 'BelleAllureCM-Gros';
    src: url('./fonts/belle_allure/BelleAllureCM-Gros.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BelleAllureCM-Fin';
    src: url('./fonts/belle_allure/BelleAllureCM-Fin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Modern CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* End of Modern CSS Reset */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

header {
    background-image: url('./images/banner-header-cropped-800x300.jpg');
    background-size: cover;
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat;
    position: relative; /* Pour positionner le crédit en absolu */
    padding: 10%;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Arrière-plan noir avec opacité */
    z-index: 1;
}

h1 {
    color: rgb(210, 168, 88);
    font-family: 'BelleAllureCM-Gros', Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    position: relative;
    z-index: 2; /* Au-dessus de l'overlay noir */
}

@media (min-width: 601px) and (max-width: 900px) {
    h1 {
        font-size: 50px;
        padding-top: 50px;
    }
}

@media (min-width: 901px) {
    h1 {
        font-size: 60px;
        padding-top: 50px;
    }
}


.banner-description {
    font-family: 'BelleAllureCM-Gros', Arial, sans-serif;
    font-style: italic;
    color: rgba(210, 168, 88, 0.87);
    font-size: 24px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.bandeau-credit {
    font-style: italic;
    color: rgba(208, 167, 91, 0.75);
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    margin: 0;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    z-index: 2; /* Au-dessus de l'overlay noir */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main img {
    margin: 10px;
    padding: 10px;
    border-radius: 100%;
}

.main-text {
    color: #2035a8;
    font-family: Georgia, sans-serif;
    font-size: 24px;
    text-align: center;
    position: relative;
}